/* место для вашего кода */
header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 95px 50px;
  place-content: center space-around;
}

.address {
  align-self: center;
  width: 264px;
  line-height: 24.3px;
  text-decoration: none;
  font-style: normal;
}

.header_address {
  padding-top: 5px;
  justify-self: end;
}
.menu {
  display: flex;
  flex-direction: column;
  
}

.header__links-list-item_no-bullit {
  list-style-type: none !important;
}

.header_menu-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-transform: lowercase;
  list-style-type: circle;
}

.header_menu-item {
  margin: 1px;
  text-decoration: none;
  white-space: nowrap;
}

.header_menu-item_active {
  text-decoration: none;
}

.header_logo {
  justify-self: center;
}

.header_logo_image {
  margin-right: 184px;
  margin-left: 39px;
  height: 105px;
  width: 148px;
}

.header_address-list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  position: absolute;
  right: 0;
  line-height: 24.3px;
}

.underline {
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background: url(/images/cover.jpg) no-repeat center / cover;
  font-size: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover-title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 165px 50px 0;
  color: white;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 115px;
  text-align: start;
}

.aligned-text_center {
  padding-left: 330.5px;
  line-height: 1;
}

.aligned-text_right {
    padding-top: 20px;
    margin:0;
    line-height: 0.75;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.1em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 125px 0 51px;
}

.cover__description-text {
  padding-left: 50px;
  color: white;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  color: white;
  margin-right: 50px;
  border: 1px solid white;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
}

.lots {
  padding: 180px 24px 0;
}

.lots_heading {
  padding-left: 40px;
  color: black;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 27px 0 30px;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 596px;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lots-card {
  width: 334px;
  height: 596px;
  top: 74px;
  gap: 0px;
  opacity: 0px;
  padding-top: 74px;
  padding-bottom: 53px;
}

.lots__look-more-link {
  margin-bottom: 2px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.card-title {
  position: relative;
  z-index: 2;
  padding: 48px 40px 0;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card_text {
  position: relative;
  z-index: 2;
  padding: 0 40px 48px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.lots-image {
  width: 334px;
  height: 596px;
  top: 74px;
  filter: brightness(40%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 120px 24px 0;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-left: 25px;
}

.about-text {
  color: black;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 690px;
}

.about_logo {
  display: flex;
  justify-self: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about-title {
  padding: 135px 0 75px;
  color: black;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: start space-around;
  padding: 180px 50px 91px;
  font-size: 18px;
  color: black;
  font-weight: 400;
}

.footer__menu-list {
  position: absolute;
  top: 0;
  list-style-type: none;
  text-align: center;
  position: static;
}

.footer_menu-item_active {
  text-decoration: none !important;
}

.footer_social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  list-style-type: none;
}

.footer_social-link {
  display: block;
  height: 100%;
}

.footer_social-icon {
    width: 48px;
    height: 48px;
}
.footer_social-list-item {
  list-style: none;
}
